<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a routerLink='/'>
        AngularFire-SSO-App
      </a>
    </div>
    <ul class="navbar-list">
      <li class="navbar-item">
        <a class="navbar-link" routerLink='' routerLinkActive='active' >
          Home
        </a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" routerLink='dashboard' routerLinkActive='active'>
          Dashboard
        </a>
      </li>
    </ul>
  </div>
</nav>
